dotenv
fastapi
langchain=0.1.8
langchain-community=0.0.24
langchain-openai
langchain-text-splitters=1.1.1
weaviate-client>=3.26.7,<4.0.0
python-dotenv
PyPDF2
pydantic
gradio
beautifulsoup4
lxml
requests
sentence_transformers
google
os